<%= render 'tabs' do %>
  <%= form_for :cliente, html: {class: 'form-horizontal'} do |cliente| %>
    <%= render partial: 'form', locals: {cliente: cliente, read_only: true} %>
  <% end %>
  <div class="form-group cliente__show-botones" role="group">
    <%= button_to 'Editar', edit_cliente_path(current_abogado, @cliente),
                  method: :get,
                  class: 'btn btn-success cliente__show-boton-editar' %>
    <%= link_to 'Borrar', @cliente,
                method: :delete,
                class: 'btn btn-danger',
                data: {
                    confirm: '¿Seguro que quiere eliminar este cliente?',
                    'confirm-button-text': 'Seguro',
                    'confirm-button-color': '#5cb85c',
                    'cancel-button-text': 'Cancelar',
                    'cancel-button-color': '#ec971f',
                    'sweet-alert-type': 'warning',
                    text: 'Los expeditens de este cliente no se eliminaran.'
                }%>
  </div>
<% end %>
<%= render 'tabs_expedientes' %>