<%= form_for [@cliente, @expediente], url: url, method: metodo, html: {class: 'form-horizontal'} do |f| %>

    <div class="field form-group">
      <%= f.label :actor, class: 'col-sm-2 control-label' %>*
      <div class="col-sm-8">
        <%= f.text_field :actor, class: 'form-control', autofocus: true %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :demandado, class: 'col-sm-2 control-label' %>*
      <div class="col-sm-8">
        <%= f.text_field :demandado, class: 'form-control' %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :materia, class: 'col-sm-2 control-label' %>*
      <div class="col-sm-8">
        <%= f.text_field :materia, class: 'form-control' %>
      </div>
    </div>

    <% if hay_que_mostrar_datos_de_numeracion %>

        <div class="field form-group">
          <%= f.label :numero, class: 'col-sm-2 control-label' %>*
          <div class="col-sm-8">
            <%= f.number_field :numero, min: '0', class: 'form-control' %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :juzgado, class: 'col-sm-2 control-label' %>*
          <div class="col-sm-8">
            <%= f.text_field :juzgado, class: 'form-control' %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :numero_de_juzgado, class: 'col-sm-2 control-label' %>*
          <div class="col-sm-8">
            <%= f.number_field :numero_de_juzgado, min: '0', class: 'form-control' %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :departamento, class: 'col-sm-2 control-label' %>*
          <div class="col-sm-8">
            <%= f.text_field :departamento, class: 'form-control' %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :ubicacion_del_departamento, class: 'col-sm-2 control-label' %>*
          <div class="col-sm-8">
            <%= f.text_field :ubicacion_del_departamento, class: 'form-control' %>
          </div>
        </div>
    <% end %>

    <div class="actions form-group cliente__edit-botones">
      <div class="col-sm-4">
        <%= f.submit 'Guardar', {class: 'btn btn-success cliente__form-guardar'}%>
      </div>
    </div>

<% end %>