<h2>Crear cuenta</h2><br/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">

    <div class="col-xs-6 field">
      <%= f.label :nombre %><br />
      <%= f.text_field :nombre, autofocus: true, class: 'registrations__input'%>

      <%= f.label :apellido %><br />
      <%= f.text_field :apellido, class: 'registrations__input'%>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'registrations__input'%>
    </div>

    <div class="col-xs-6 field">
      <%= f.label :sexo %><br />
      <%= f.select :sexo, options_for_select(Sexo.sexos) %><br />

      <%= f.label :contraseña %>
      <% if @minimum_password_length%>
          <em>(<%= @minimum_password_length %> caracteres minimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'registrations__input' %>

      <%= f.label :confirmar_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'registrations__input'%>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Crear", {class: 'btn btn-success'}%>
  </div>
  <br/>
<% end %>
<%= render "devise/shared/links" %>
