<h2>Crear cuenta</h2><br/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">

    <div class="col-xs-4 field">
      <%= f.label :nombre %> *
      <%= f.text_field :nombre, autofocus: true, class: 'form-control'%>

      <%= f.label :apellido %> *
      <%= f.text_field :apellido, class: 'form-control'%>

      <%= f.label :email %> *
      <%= f.email_field :email, class: 'form-control'%>

      <%= f.label :matricula %> *
      <%= f.text_field :matricula, class: 'form-control'%>
    </div>

    <div class="col-xs-4 field">
      <%= f.label :colegio_de_abogados %> *
      <%= f.text_field :nombre_del_colegio_de_abogados, class: 'form-control'%>

      <%= f.label :cuit %> *
      <%= f.number_field :cuit, min: '0', class: 'form-control', id:'cuit'%>

      <%= f.label :domicilio_procesal %> *
      <%= f.text_field :domicilio_procesal, class: 'form-control'%>

      <%= f.label :domicilio_electronico %> *
      <%= f.text_field :domicilio_electronico, class: 'form-control'%>
    </div>

    <div class="col-xs-4 field">
      <%= f.label :sexo %> *
      <%= f.select(:sexo, Sexo.sexos, options = {include_blank: true}, html_options = {class: 'form-control'}) %>

      <%= f.label :contraseña %> *
      <% if @minimum_password_length%>
        <em>(<%= @minimum_password_length %> caracteres minimo)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>

      <%= f.label :confirmar_contraseña %> *
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'%>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit 'Crear', {class: 'btn btn-success'}%>
  </div>
  <br/>
<% end %>
<%= render 'devise/shared/links' %>
