<%= render 'tabs' do %>
    <div class="tinyMC_toolbar">
    </div>

    <%= form_for [@expediente, @escrito], html: {class: 'form-horizontal'} do |f| %>
        <%= f.text_area :cuerpo, id: 'area_de_trabajo' %>
    <% end %>
<% end %>
<%= render 'tab_expediente' %>
<%= render 'shared/tab_cliente' %>