<li role="presentation" class="active" data-toggle="modal" data-target="#eleccion_de_escrito-modal">
  <a>Nuevo Escrito</a>
</li>
<div id="eleccion_de_escrito-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">¿Que tipo de escrito desea cargar?</h3>
      </div>
      <div class="modal-body">
        <%= link_to 'Demanda', new_expediente_demanda_path(@expediente.id), method: :get, class: 'btn btn-success btn-group' %>
        <%= link_to 'Contestacion', new_expediente_contestacion_de_demanda_path(@expediente.id), method: :get, class: 'btn btn-success btn-group'%>
        <%= link_to 'Mero Tramite', new_expediente_mero_tramite_path(@expediente.id), method: :get, class: 'btn btn-success btn-group'%>
        <%= link_to 'Notificacion', new_expediente_notificacion_path(@expediente.id), method: :get, class: 'btn btn-success'%>
        <%= link_to 'Mandamiento', new_expediente_demanda_path(@expediente.id), method: :get, class: 'btn btn-success', disabled: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>