<div class="row">
  <%= form_for(resource, url: registration_path(resource), remote: true, html: {id: 'editar_perfil__form'}) do |f| %>

    <div class="col-xs-4">
      <div class="field">
        <%= f.label :nombre, id: 'perfil_nombre' %><br />
        <%= f.text_field :nombre, autofocus: true, class: 'form-control registrations__input' %>
      </div>

      <div class="field">
        <%= f.label :apellido, id: 'perfil_apellido' %><br />
        <%= f.text_field :apellido, autofocus: true, class: 'form-control registrations__input' %>
      </div>

      <div class="field">
        <%= f.label :email, id: 'perfil_email'  %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control registrations__input' %>
      </div>

      <div class="field">
        <%= f.label :matricula %><br />
        <%= f.text_field :matricula, class: 'form-control registrations__input'%>
      </div>
    </div>

    <div class="col-xs-4 field">
      <div class="field">
        <%= f.label :nombre_del_colegio_de_abogados %><br />
        <%= f.text_field :nombre_del_colegio_de_abogados, class: 'form-control registrations__input'%>
      </div>
      <div class="field">
        <%= f.label :cuit %><br />
        <%= f.number_field :cuit, class: 'form-control registrations__input'%>
      </div>
      <div class="field">
        <%= f.label :domicilio_procesal %><br />
        <%= f.text_field :domicilio_procesal, class: 'form-control registrations__input'%>
      </div>
      <div class="field">
        <%= f.label :domicilio_electronico %><br />
        <%= f.text_field :domicilio_electronico, class: 'form-control registrations__input'%>
      </div>
    </div>


      <div class="col-xs-4">
      <div class="field">
        <%= f.label :nueva_contraseña %> <br />
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control registrations__input' %>
        <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caracteres minimo</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :confirmacion_de_contraseña %><br />
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control registrations__input' %>
      </div>

      <div class="field">
        <%= f.label :contraseña_actual %> <br />
        <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control registrations__input', id: 'editar_perfil__password' %>
      </div>

      <div class="actions">
        <br>
        <%= f.submit 'Guardar', {class: 'btn btn-success', id: 'editar_perfil__guardar'}%>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Cancelar mi cuenta</h3>
      <%= link_to 'Cancelar mi cuenta', registration_path(resource_name),
                  method: :delete, class: 'btn btn-danger',
                  data: {
                      confirm: '¿Seguro que quiere eliminar su cuenta?',
                      'confirm-button-text': 'Seguro',
                      'confirm-button-color': '#5cb85c',
                      'cancel-button-text': 'Cancelar',
                      'cancel-button-color': '#ec971f',
                      'sweet-alert-type': 'warning',
                      text: 'Envianos un mail para contarnos por qué cancelas tu cuenta a: adhoc@edymberg.com .'
                  }%>
  </div>
</div>