<!DOCTYPE html>
<html>
  <head>
    <title>AdHoc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/assets/adhoc-logo.png' %>
    <!-- TinyMCE -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=dj1lnmrq393pmzosuh4k3yts0zbzige6zs3hjl7789fksu4d"></script>
  </head>

  <body class="container-fluid body__body-adhoc">
    <div class="body__adhoc">
      <!-- CABECERA -->
      <div class="row">
        <%= render 'shared/cabecera' %>
      </div>
      <div class="row">
        <% if abogado_signed_in? %>
          <!-- PANEL IZQUIERDO -->
          <div class="col-xs-9 col-sm-3">
            <%= render 'shared/panel_izquierdo' %>
          </div>
          <!-- AREA DE TRABAJO -->
          <div class="col-xs-9">
            <%= render 'shared/alertas' %>
            <%= yield %>
          </div>
        <% else %>
          <!-- LOGIN -->
          <%= render 'shared/alertas' %>
          <div class="col-xs-9">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
