<!DOCTYPE html>
<html>
  <head>
    <title>AdHoc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid body__body-adhoc">
    <div class="body__adhoc">
      <!-- CABECERA -->
      <div class="row">
        <%= render 'shared/cabecera' %>
      </div>
      <div class="row">
        <% if abogado_signed_in? %>
          <!-- PANEL IZQUIERDO -->
          <div class="col-xs-9 col-sm-3">
            <%= render 'shared/panel_izquierdo' %>
          </div>
          <!-- AREA DE TRABAJO -->
          <div class="col-xs-9">
            <%= render 'shared/alertas' %>
            <%= yield %>
          </div>
        <% else %>
          <!-- LOGIN -->
          <div class="col-xs-6">
            <%= render 'shared/alertas' %>
            <%= yield %>
          </div>
        <% end %>
      </div>
      <!-- PIE DE PAGINA -->
      <div class="row header__contenedor">
        <%= render 'shared/pie_de_pagina' %>
      </div>
    </div>
  </body>
</html>
